In [2]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in c:\users\biauser\anaconda3\envs\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\biauser\anaconda3\envs\python311\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
import pandas as pd

In [4]:
dict=pd.read_excel('./data/dft-road-casualty-statistics-road-safety-open-dataset-data-guide-2023.xlsx')
dict.head()

,table,field name,code/format,label,note
0,Accident,collision_index,NaN,NaN,unique value for each accident. The accident_i...
1,Accident,collision_year,NaN,NaN,NaN
2,Accident,collision_reference,NaN,NaN,In year id used by the police to reference a c...
3,Accident,accident_index,NaN,NaN,unique value for each accident. The accident_i...
4,Accident,accident_year,NaN,NaN,NaN

In [5]:
dict[dict['table']=='Accident']

,table,field name,code/format,label,note
0,Accident,collision_index,NaN,NaN,unique value for each accident. The accident_i...
1,Accident,collision_year,NaN,NaN,NaN
2,Accident,collision_reference,NaN,NaN,In year id used by the police to reference a c...
3,Accident,accident_index,NaN,NaN,unique value for each accident. The accident_i...
4,Accident,accident_year,NaN,NaN,NaN
...,...,...,...,...,...
1371,Accident,trunk_road_flag,1,Trunk (Roads managed by Highways England),NaN
1372,Accident,trunk_road_flag,2,Non-trunk,NaN
1373,Accident,trunk_road_flag,-1,Data missing or out of range,NaN
1374,Accident,lsoa_of_collision_location,NaN,NaN,England and Wales only. See Office for Nationa...
1375,Accident,lsoa_of_accident_location,NaN,NaN,England and Wales only. See Office for Nationa...

In [6]:
dict['table'].drop_duplicates()

0                   Accident
1376                 Vehicle
1605               e_scooter
1614                Casualty
1733    historical_revisions
1743    collision_adjustment
1754     casualty_adjustment
Name: table, dtype: object

In [7]:
accidents=pd.read_csv('./data/Accident/dft-road-casualty-statistics-collision-2018.csv',low_memory=False)
accidents.head(10)

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2018010080971,2018,010080971,529150.0,182270.0,-0.139737,51.524587,1,3,2,...,0,4,1,1,0,0,1,1,2,E01000854
1,2018010080973,2018,010080973,542020.0,184290.0,0.046471,51.539651,1,3,1,...,0,4,1,1,0,0,1,1,2,E01003531
2,2018010080974,2018,010080974,531720.0,182910.0,-0.102474,51.529746,1,3,2,...,5,4,1,1,0,0,1,1,2,E01002723
3,2018010080981,2018,010080981,541450.0,183220.0,0.037828,51.530179,1,2,2,...,5,4,2,2,0,0,1,1,2,E01003492
4,2018010080982,2018,010080982,543580.0,176500.0,0.065781,51.469258,1,2,2,...,0,4,1,2,0,0,1,1,2,E01001682
5,2018010080983,2018,010080983,526060.0,194910.0,-0.179720,51.638879,1,3,2,...,0,4,5,2,0,0,1,1,2,E01000271
6,2018010080986,2018,010080986,525050.0,181050.0,-0.199239,51.514545,1,2,2,...,0,4,1,1,0,0,1,1,2,E01002886
7,2018010080987,2018,010080987,536710.0,176960.0,-0.032886,51.475091,1,3,3,...,0,7,1,1,0,0,1,1,2,E01003215
8,2018010080990,2018,010080990,517110.0,186280.0,-0.311872,51.563250,1,3,2,...,8,4,1,1,0,0,1,1,2,E01000564
9,2018010080992,2018,010080992,535450.0,181190.0,-0.049395,51.513407,1,2,2,...,4,4,1,1,0,0,1,1,2,E01004305

In [8]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122635 entries, 0 to 122634
Data columns (total 36 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   accident_index                               122635 non-null  object
 1   accident_year                                122635 non-null  int64
 2   accident_reference                           122635 non-null  object
 3   location_easting_osgr                        122580 non-null  float64
 4   location_northing_osgr                       122580 non-null  float64
 5   longitude                                    122580 non-null  float64
 6   latitude                                     122580 non-null  float64
 7   police_force                                 122635 non-null  int64
 8   accident_severity                            122635 non-null  int64
 9   number_of_vehicles                           122635 non-null  int64
 10  number_of_casualties                         122635 non-null  int64
 11  date                                         122635 non-null  object
 12  day_of_week                                  122635 non-null  int64
 13  time                                         122635 non-null  object
 14  local_authority_district                     122635 non-null  int64
 15  local_authority_ons_district                 122635 non-null  object
 16  local_authority_highway                      122635 non-null  object
 17  first_road_class                             122635 non-null  int64
 18  first_road_number                            122635 non-null  int64
 19  road_type                                    122635 non-null  int64
 20  speed_limit                                  122635 non-null  int64
 21  junction_detail                              122635 non-null  int64
 22  junction_control                             122635 non-null  int64
 23  second_road_class                            122635 non-null  int64
 24  second_road_number                           122635 non-null  int64
 25  pedestrian_crossing_human_control            122635 non-null  int64
 26  pedestrian_crossing_physical_facilities      122635 non-null  int64
 27  light_conditions                             122635 non-null  int64
 28  weather_conditions                           122635 non-null  int64
 29  road_surface_conditions                      122635 non-null  int64
 30  special_conditions_at_site                   122635 non-null  int64
 31  carriageway_hazards                          122635 non-null  int64
 32  urban_or_rural_area                          122635 non-null  int64
 33  did_police_officer_attend_scene_of_accident  122635 non-null  int64
 34  trunk_road_flag                              122635 non-null  int64
 35  lsoa_of_accident_location                    122635 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 33.7+ MB

In [9]:
# choose the fields of fact table
facts={}
facts['Accident']=['accident_index','accident_year','longitude','latitude','accident_severity','number_of_vehicles','number_of_casualties','date','time','road_type','weather_conditions']

# fact table name and the referenced dimention table name
dimentions={}
dimentions['Accident']=['accident_severity','road_type','weather_conditions']

In [10]:
accidents[facts['Accident']].dtypes

accident_index           object
accident_year             int64
longitude               float64
latitude                float64
accident_severity         int64
number_of_vehicles        int64
number_of_casualties      int64
date                     object
time                     object
road_type                 int64
weather_conditions        int64
dtype: object

In [11]:
casualties=pd.read_csv('./data/Casualty/dft-road-casualty-statistics-casualty-2018.csv',low_memory=False)
casualties.head(10)

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,2018010080971,2018,010080971,1,1,2,2,50,8,3,0,0,2,0,0,9,1,8,E01011051
1,2018010080971,2018,010080971,2,2,1,1,48,8,3,0,0,0,0,0,8,1,1,E01002066
2,2018010080973,2018,010080973,1,1,3,1,29,6,3,5,1,0,0,2,0,1,3,E01003531
3,2018010080974,2018,010080974,1,1,1,1,40,7,3,0,0,0,0,0,8,1,3,E01000185
4,2018010080981,2018,010080981,1,1,1,1,27,6,2,0,0,0,0,0,9,1,7,E01003643
5,2018010080982,2018,010080982,1,1,1,1,43,7,3,0,0,0,0,0,8,1,4,E01003308
6,2018010080982,2018,010080982,2,2,2,2,58,9,2,0,0,1,0,0,9,1,3,E01000392
7,2018010080983,2018,010080983,1,1,2,1,69,10,3,0,0,1,0,0,9,1,10,E01000280
8,2018010080983,2018,010080983,1,2,2,1,56,9,3,0,0,2,0,0,9,1,10,E01000280
9,2018010080983,2018,010080983,1,3,2,2,60,9,3,0,0,2,0,0,9,1,10,E01000280

In [12]:
casualties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160597 entries, 0 to 160596
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   accident_index                      160597 non-null  object
 1   accident_year                       160597 non-null  int64
 2   accident_reference                  160597 non-null  object
 3   vehicle_reference                   160597 non-null  int64
 4   casualty_reference                  160597 non-null  int64
 5   casualty_class                      160597 non-null  int64
 6   sex_of_casualty                     160597 non-null  int64
 7   age_of_casualty                     160597 non-null  int64
 8   age_band_of_casualty                160597 non-null  int64
 9   casualty_severity                   160597 non-null  int64
 10  pedestrian_location                 160597 non-null  int64
 11  pedestrian_movement                 160597 non-null  int64
 12  car_passenger                       160597 non-null  int64
 13  bus_or_coach_passenger              160597 non-null  int64
 14  pedestrian_road_maintenance_worker  160597 non-null  int64
 15  casualty_type                       160597 non-null  int64
 16  casualty_home_area_type             160597 non-null  int64
 17  casualty_imd_decile                 160597 non-null  int64
 18  lsoa_of_casualty                    160597 non-null  object
dtypes: int64(16), object(3)
memory usage: 23.3+ MB

In [13]:
facts['Casualty']=['accident_index','accident_year','vehicle_reference','casualty_reference','casualty_class','sex_of_casualty','age_of_casualty','age_band_of_casualty','casualty_severity']
dimentions['Casualty']=['casualty_class','sex_of_casualty','age_band_of_casualty','casualty_severity']

In [14]:
casualties[facts['Casualty']].dtypes

accident_index          object
accident_year            int64
vehicle_reference        int64
casualty_reference       int64
casualty_class           int64
sex_of_casualty          int64
age_of_casualty          int64
age_band_of_casualty     int64
casualty_severity        int64
dtype: object

In [15]:
vehicles=pd.read_csv('./data/Vehicle/dft-road-casualty-statistics-vehicle-2018.csv',low_memory=False)
vehicles.head(10)

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,2018010080971,2018,010080971,1,9,0,18,3,7,0,...,1,32,6,1995,2,5,BMW 5 SERIES,8,1,E01011051
1,2018010080971,2018,010080971,2,8,0,18,3,7,0,...,1,48,8,1798,8,6,TOYOTA PRIUS+,1,1,E01002066
2,2018010080973,2018,010080973,1,9,0,18,3,7,0,...,3,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,2018010080974,2018,010080974,1,8,0,7,1,4,0,...,1,40,7,1797,8,6,TOYOTA PRIUS,3,1,E01000185
4,2018010080974,2018,010080974,2,9,0,18,4,8,0,...,1,21,5,-1,-1,-1,-1,5,1,E01000036
5,2018010080981,2018,010080981,1,9,0,9,7,1,0,...,1,27,6,1200,1,1,PEUGEOT 308,7,1,E01003643
6,2018010080981,2018,010080981,2,19,0,18,3,7,0,...,1,30,6,-1,-1,-1,-1,3,1,E01003588
7,2018010080982,2018,010080982,1,8,0,18,3,7,0,...,1,43,7,1798,8,1,TOYOTA PRIUS+,4,1,E01003308
8,2018010080982,2018,010080982,2,9,0,18,7,3,0,...,1,55,8,-1,-1,-1,-1,3,1,E01000392
9,2018010080983,2018,010080983,1,9,0,18,1,5,0,...,2,63,9,4196,1,11,JAGUAR S TYPE,10,1,E01000280

In [16]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226409 entries, 0 to 226408
Data columns (total 28 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   accident_index                    226409 non-null  object
 1   accident_year                     226409 non-null  int64
 2   accident_reference                226409 non-null  object
 3   vehicle_reference                 226409 non-null  int64
 4   vehicle_type                      226409 non-null  int64
 5   towing_and_articulation           226409 non-null  int64
 6   vehicle_manoeuvre                 226409 non-null  int64
 7   vehicle_direction_from            226409 non-null  int64
 8   vehicle_direction_to              226409 non-null  int64
 9   vehicle_location_restricted_lane  226409 non-null  int64
 10  junction_location                 226409 non-null  int64
 11  skidding_and_overturning          226409 non-null  int64
 12  hit_object_in_carriageway         226409 non-null  int64
 13  vehicle_leaving_carriageway       226409 non-null  int64
 14  hit_object_off_carriageway        226409 non-null  int64
 15  first_point_of_impact             226409 non-null  int64
 16  vehicle_left_hand_drive           226409 non-null  int64
 17  journey_purpose_of_driver         226409 non-null  int64
 18  sex_of_driver                     226409 non-null  int64
 19  age_of_driver                     226409 non-null  int64
 20  age_band_of_driver                226409 non-null  int64
 21  engine_capacity_cc                226409 non-null  int64
 22  propulsion_code                   226409 non-null  int64
 23  age_of_vehicle                    226409 non-null  int64
 24  generic_make_model                226409 non-null  object
 25  driver_imd_decile                 226409 non-null  int64
 26  driver_home_area_type             226409 non-null  int64
 27  lsoa_of_driver                    226409 non-null  object
dtypes: int64(24), object(4)
memory usage: 48.4+ MB

In [17]:
facts['Vehicle']=['accident_index','accident_year','vehicle_reference','vehicle_type','sex_of_driver','age_of_driver','age_band_of_driver','age_of_vehicle']
dimentions['Vehicle']=['vehicle_type','sex_of_driver','age_band_of_driver']

In [18]:
vehicles[facts['Vehicle']].dtypes

accident_index        object
accident_year          int64
vehicle_reference      int64
vehicle_type           int64
sex_of_driver          int64
age_of_driver          int64
age_band_of_driver     int64
age_of_vehicle         int64
dtype: object

In [19]:
facts,dimentions

({'Accident': ['accident_index',
   'accident_year',
   'longitude',
   'latitude',
   'accident_severity',
   'number_of_vehicles',
   'number_of_casualties',
   'date',
   'time',
   'road_type',
   'weather_conditions'],
  'Casualty': ['accident_index',
   'accident_year',
   'vehicle_reference',
   'casualty_reference',
   'casualty_class',
   'sex_of_casualty',
   'age_of_casualty',
   'age_band_of_casualty',
   'casualty_severity'],
  'Vehicle': ['accident_index',
   'accident_year',
   'vehicle_reference',
   'vehicle_type',
   'sex_of_driver',
   'age_of_driver',
   'age_band_of_driver',
   'age_of_vehicle']},
 {'Accident': ['accident_severity', 'road_type', 'weather_conditions'],
  'Casualty': ['casualty_class',
   'sex_of_casualty',
   'age_band_of_casualty',
   'casualty_severity'],
  'Vehicle': ['vehicle_type', 'sex_of_driver', 'age_band_of_driver']})

In [25]:
field_list = [value for sublist in dimentions.values() for value in sublist]
df=dict.loc[dict['table'].isin(dimentions.keys()) & dict['field name'].isin(field_list)]
df

,table,field name,code/format,label,note
65,Accident,accident_severity,1,Fatal,NaN
66,Accident,accident_severity,2,Serious,NaN
67,Accident,accident_severity,3,Slight,NaN
1260,Accident,road_type,1,Roundabout,NaN
1261,Accident,road_type,2,One way street,NaN
...,...,...,...,...,...
1641,Casualty,age_band_of_casualty,11,Over 75,NaN
1642,Casualty,age_band_of_casualty,-1,Data missing or out of range,NaN
1643,Casualty,casualty_severity,1,Fatal,NaN
1644,Casualty,casualty_severity,2,Serious,NaN
1645,Casualty,casualty_severity,3,Slight,NaN

In [26]:
df.groupby('field name')['label'].apply(lambda x: x.str.len().max())

field name
accident_severity        7
age_band_of_casualty    28
age_band_of_driver      28
casualty_class          15
casualty_severity        7
road_type               28
sex_of_casualty         28
sex_of_driver           28
vehicle_type            46
weather_conditions      28
Name: label, dtype: int64

In [27]:
df[['field name','code/format']].value_counts().sort_values(ascending=False)

field name            code/format
accident_severity      1             1
                       2             1
                       3             1
age_band_of_casualty  -1             1
                       1             1
                                    ..
weather_conditions     5             1
                       6             1
                       7             1
                       8             1
                       9             1
Name: count, Length: 89, dtype: int64

In [28]:
gc=df.groupby(['field name','code/format']).count()
gc[gc['label']>1]

Empty DataFrame
Columns: [table, label, note]
Index: []