In [1]:
!pip3 install psycopg2

Requirement already satisfied: psycopg2 in c:\users\biauser\anaconda3\envs\python311\lib\site-packages (2.9.9)

In [2]:
import pandas as pd
import os
from datetime import datetime
from sqlalchemy import create_engine
from sqlalchemy import text

user = 'postgres'
pwd = 'postgres123'
server = 'localhost'
instance = ''
port = ''
db = 'UKAccidents'

In [3]:
conn_string = f'postgresql+psycopg2://{user}:{pwd}@{server}/{db}'
engine = create_engine(conn_string,isolation_level="AUTOCOMMIT")
conn=engine.connect()

In [4]:
# Execute data table initialization script before storing the data in the database.
# read SQL file
with open('./02_data_model_script.sql', 'r') as f:
    # Concatenate the entire file into a single string.
    sql_script = f.read()

# Execute the SQL script.
conn.execute(text(sql_script))

In [5]:
dimentions={'Accident': ['accident_severity', 'road_type', 'weather_conditions'],
 'Casualty': ['casualty_class',
  'sex_of_casualty',
  'age_band_of_casualty',
  'casualty_severity'],
 'Vehicle': ['vehicle_type', 'sex_of_driver', 'age_band_of_driver']}
facts={'Accident': ['accident_index',
   'accident_year',
   'longitude',
   'latitude',
   'accident_severity',
   'number_of_vehicles',
   'number_of_casualties',
   'date',
   'time',
   'road_type',
   'weather_conditions'],
  'Casualty': ['accident_index',
   'accident_year',
   'vehicle_reference',
   'casualty_reference',
   'casualty_class',
   'sex_of_casualty',
   'age_of_casualty',
   'age_band_of_casualty',
   'casualty_severity'],
  'Vehicle': ['accident_index',
   'accident_year',
   'vehicle_reference',
   'vehicle_type',
   'sex_of_driver',
   'age_of_driver',
   'age_band_of_driver',
   'age_of_vehicle']}

In [6]:
dict=pd.read_excel('./data/dft-road-casualty-statistics-road-safety-open-dataset-data-guide-2023.xlsx')
dict

,table,field name,code/format,label,note
0,Accident,collision_index,NaN,NaN,unique value for each accident. The accident_i...
1,Accident,collision_year,NaN,NaN,NaN
2,Accident,collision_reference,NaN,NaN,In year id used by the police to reference a c...
3,Accident,accident_index,NaN,NaN,unique value for each accident. The accident_i...
4,Accident,accident_year,NaN,NaN,NaN
...,...,...,...,...,...
1762,casualty_adjustment,injury_based_severity_code,5,Slight,NaN
1763,casualty_adjustment,injury_based_severity_code,6,Very Serious,NaN
1764,casualty_adjustment,injury_based_severity_code,7,Moderately Serious,NaN
1765,casualty_adjustment,injury_based_severity_code,3,Less Serious,NaN
1766,casualty_adjustment,injury_based_severity_code,-1,Data missing or out of range,NaN

In [7]:
for table,fields in dimentions.items():
    for dim in fields:
        dm=dict.loc[(dict['table']==table) & (dict['field name']==dim),['code/format','label']]
        dm.rename(columns={'code/format':'id','label':'name'},inplace=True)
        cnt=dm.to_sql(dim,conn,if_exists='append',index=False)
        print(f'{cnt} rows of data were loaded into table:{dim}')

3 rows of data were loaded into table:accident_severity
8 rows of data were loaded into table:road_type
10 rows of data were loaded into table:weather_conditions
3 rows of data were loaded into table:casualty_class
4 rows of data were loaded into table:sex_of_casualty
12 rows of data were loaded into table:age_band_of_casualty
3 rows of data were loaded into table:casualty_severity
30 rows of data were loaded into table:vehicle_type
4 rows of data were loaded into table:sex_of_driver
12 rows of data were loaded into table:age_band_of_driver

In [ ]:
%%time
for folder,fields in facts.items():  
    data = pd.DataFrame([])
    path=f'./data/{folder}/'
    for filename in os.listdir(path):
        df = pd.read_csv(path+filename, low_memory=False)
        data = pd.concat([data, df[fields]]) 
    if 'date' in fields:
        data['date']=data['date'].apply(lambda x:datetime.strptime(x, '%d/%m/%Y').date())
    data.to_sql(folder.lower(),conn,if_exists='append',index=False)
    print(f'{data.shape[0]} rows of data were loaded into table:{folder.lower()}.')

538461 rows of data were loaded into table:accident.
693028 rows of data were loaded into table:casualty.

In [ ]:
conn.close()
engine.dispose()